body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color:#ffffff;
}
hr{
    background-color: #0dcaf0
    ;
}
.card-img-top{
    height: 10em;
}
html {
    scroll-behavior: smooth;
  }
